.Screen {
  width: 18.1rem;
  height: 9.5rem;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1.5rem;
  background-color: #d9bde3;
  color: #3d2946;
}
