.Box {
  width: 20rem;
  height: 34rem;
  padding: 0.9rem;
  background-color: #432b1c;
}
.Box .fila {
  display: flex;
  margin-top: 0.7rem;
  align-items: center;
  justify-content: space-around;
}
